.redtext {
    color: red;
}

.greentext {
    color: greenyellow;
}

body {
    background-image: url(../images/abstract-ethnic-african-pattern_37925-695.jpg);
}

div.container {
    background-color: rgb(255, 221, 182);
    opacity: 97%;
}

.brown {
    color: #49311d;
}